body{
    background: url(../img/fundo.png);
	background-color: #444;
        
}

.vertical-offset-100{
    padding-top:250px;
}
.recuperar{
    margin-top:25px;
    font-size: 12px;
    text-align: center;
    
}